twilio.account_sid=YOUR_TWILIO_ACCOUNT_SID
twilio.auth_token=YOUR_TWILIO_AUTH_TOKEN
twilio.from_number=YOUR_TWILIO_PHONE_NUMBER
gmail.sender_email=YOUR_GMAIL_ADDRESS
gmail.app_password=YOUR_GMAIL_APP_PASSWORD
